{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>Index content</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="min-height:130px;">

            </div>
        </div>
    </div>



</div>

{% endblock %}

{% block foot %}
{{ super() }}
{% endblock %}
